<a href="https://www.kaggle.com/code/wngur0313/pandas-base?scriptVersionId=92443970" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# 1 : Series

In [2]:
ob = pd.Series([4,7,-5,3]) #시리즈 정의하기
ob

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
#Series 값 확인하기
ob.values

array([ 4,  7, -5,  3])

In [4]:
#Series 인덱스 확인하기
ob.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
#Series 자료형 확인하기
ob.dtype

dtype('int64')

In [6]:
# 인덱스를 설정하는 법
ob2 = pd.Series([10,20,30,40], index = ['a','b','c','d'])
ob2

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
#딕셔너리를 Seires data로 만들기
dic = {'chicken': 20000, 'pizza': 25000, 'rice': 1000, 'coke': 2000}
srdic = pd.Series(dic)
srdic

chicken    20000
pizza      25000
rice        1000
coke        2000
dtype: int64

In [8]:
#srdic의 이름 설정, 인덱스 이름 설정
srdic.name = 'Food'
srdic.index.name = 'Kind'
srdic

Kind
chicken    20000
pizza      25000
rice        1000
coke        2000
Name: Food, dtype: int64

In [9]:
#srdic의 인덱스 변경
srdic.index = ['치킨', '피자', '밥', '콜라']
srdic

치킨    20000
피자    25000
밥      1000
콜라     2000
Name: Food, dtype: int64

# 2 : DataFrame

In [10]:
data = {'name': ['Beomwoo', 'Beomwoo', 'Beomwoo', 'Kim', 'Park'],
        'year': [2013, 2014, 2015, 2016, 2015],
        'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df

      name  year  points
0  Beomwoo  2013     1.5
1  Beomwoo  2014     1.7
2  Beomwoo  2015     3.6
3      Kim  2016     2.4
4     Park  2015     2.9

행과 열의 구조를 가진 데이터

In [11]:
#행 방향의 index
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
#열 방향의 index
df.columns

Index(['name', 'year', 'points'], dtype='object')

In [13]:
#값 얻기
df.values

array([['Beomwoo', 2013, 1.5],
       ['Beomwoo', 2014, 1.7],
       ['Beomwoo', 2015, 3.6],
       ['Kim', 2016, 2.4],
       ['Park', 2015, 2.9]], dtype=object)

In [14]:
#각 인덱스에 대한 이름 설정
df.index.name = 'Num'
df.columns.name = 'Info'
df

Info     name  year  points
Num
0     Beomwoo  2013     1.5
1     Beomwoo  2014     1.7
2     Beomwoo  2015     3.6
3         Kim  2016     2.4
4        Park  2015     2.9

In [15]:
#DataFrame을 만들면서 행과 열을 설정하는 법
df2 = pd.DataFrame(data, columns=['year', 'name', 'points', 'penalty'],
                  index=['one', 'two', 'three', 'four', 'five'])
df2

       year     name  points penalty
one    2013  Beomwoo     1.5     NaN
two    2014  Beomwoo     1.7     NaN
three  2015  Beomwoo     3.6     NaN
four   2016      Kim     2.4     NaN
five   2015     Park     2.9     NaN

penalty는 data에 정의되어있지 않기 때문에 NaN값이 뜬다

In [16]:
#계산 가능한 값들에 대한 설명
df2.describe()

              year    points
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000

In [17]:
#indexing
data = {"names": ["a", "b", "c", "d", "e"],
           "year": [1999, 2000, 2001, 2002, 2003],
           "points": [90, 80, 30, 70, 99]}
df = pd.DataFrame(data, columns=["year", "names", "points", "penalty"],
                          index=["one", "two", "three", "four", "five"])
df

       year names  points penalty
one    1999     a      90     NaN
two    2000     b      80     NaN
three  2001     c      30     NaN
four   2002     d      70     NaN
five   2003     e      99     NaN

In [18]:
#year 열을 선택
df['year']

one      1999
two      2000
three    2001
four     2002
five     2003
Name: year, dtype: int64

In [19]:
#df['year']와 같은 역할을 하는 코드
df.year

one      1999
two      2000
three    2001
four     2002
five     2003
Name: year, dtype: int64

In [20]:
df[['year','points']]

       year  points
one    1999      90
two    2000      80
three  2001      30
four   2002      70
five   2003      99

In [21]:
#df['penalty'] = 0.5 밑에랑 똑같은 코드
df.penalty = 0.5
df

       year names  points  penalty
one    1999     a      90      0.5
two    2000     b      80      0.5
three  2001     c      30      0.5
four   2002     d      70      0.5
five   2003     e      99      0.5

In [22]:
#새로운 열을 추가하기
#np.arange(시작점,끝점) 0,5로 하면 0~4까지  밑에처럼 그냥 5로하면 0~4까지
#df['zeros'] = np.arange(5)
df.zeros = np.arange(5) 
df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

       year names  points  penalty
one    1999     a      90      0.5
two    2000     b      80      0.5
three  2001     c      30      0.5
four   2002     d      70      0.5
five   2003     e      99      0.5

In [23]:
# Series 추가
val = pd.Series([-1.2, -1.5, -1.7], index=['two','four','five'])
df['debt'] = val
df

       year names  points  penalty  debt
one    1999     a      90      0.5   NaN
two    2000     b      80      0.5  -1.2
three  2001     c      30      0.5   NaN
four   2002     d      70      0.5  -1.5
five   2003     e      99      0.5  -1.7

In [24]:
#열 삭제하기
del df['names']
df

       year  points  penalty  debt
one    1999      90      0.5   NaN
two    2000      80      0.5  -1.2
three  2001      30      0.5   NaN
four   2002      70      0.5  -1.5
five   2003      99      0.5  -1.7

In [25]:
#인덱스 이름 추가하기
df.index.name = 'Order'
df

       year  points  penalty  debt
Order
one    1999      90      0.5   NaN
two    2000      80      0.5  -1.2
three  2001      30      0.5   NaN
four   2002      70      0.5  -1.5
five   2003      99      0.5  -1.7

In [26]:
#열 이름 추가하기
df.columns.name = 'Info'
df

Info   year  points  penalty  debt
Order
one    1999      90      0.5   NaN
two    2000      80      0.5  -1.2
three  2001      30      0.5   NaN
four   2002      70      0.5  -1.5
five   2003      99      0.5  -1.7

# 3 : DataFrame 행 조작

In [27]:
df[0:3] #0번 인덱스 ~ 2번 인덱스까지

Info   year  points  penalty  debt
Order
one    1999      90      0.5   NaN
two    2000      80      0.5  -1.2
three  2001      30      0.5   NaN

In [28]:
df['two':'four'] #인덱스 이름으로 조작

Info   year  points  penalty  debt
Order
two    2000      80      0.5  -1.2
three  2001      30      0.5   NaN
four   2002      70      0.5  -1.5

In [29]:
df.loc['two':'four'] #loc함수

Info   year  points  penalty  debt
Order
two    2000      80      0.5  -1.2
three  2001      30      0.5   NaN
four   2002      70      0.5  -1.5

In [30]:
df.loc['two':'four', 'points'] # ','를 주목하자

Order
two      80
three    30
four     70
Name: points, dtype: int64

In [31]:
df.loc[:,'year'] # df['year']과 같은 의미

Order
one      1999
two      2000
three    2001
four     2002
five     2003
Name: year, dtype: int64

In [32]:
df.loc[:,['year','penalty']] #전체 인덱스 선택, year, penalty 열 선택

Info   year  penalty
Order
one    1999      0.5
two    2000      0.5
three  2001      0.5
four   2002      0.5
five   2003      0.5

In [33]:
#six라는 행 추가
df.loc['six',:] = ['2013','90','0.5','1']
df

Info     year points penalty debt
Order
one    1999.0   90.0     0.5  NaN
two    2000.0   80.0     0.5 -1.2
three  2001.0   30.0     0.5  NaN
four   2002.0   70.0     0.5 -1.5
five   2003.0   99.0     0.5 -1.7
six      2013     90     0.5    1

In [34]:
#iloc
df.iloc[3] #3번째 행 선택

Info
year       2002.0
points       70.0
penalty       0.5
debt         -1.5
Name: four, dtype: object

In [35]:
df.iloc[2:4,0:2] #2~3행 선택, 0~1열 선택

Info     year points
Order
three  2001.0   30.0
four   2002.0   70.0

In [36]:
df.iloc[[0,1,3],[1,2]] #0,1,3q 번째 인덱스 선택, 1,2번째 열(인덱스넘버)선택

Info  points penalty
Order
one     90.0     0.5
two     80.0     0.5
four    70.0     0.5

In [37]:
df.iloc[:,1:4] #전체 행 선택, 1~3번째 인덱스 열 선택

Info  points penalty debt
Order
one     90.0     0.5  NaN
two     80.0     0.5 -1.2
three   30.0     0.5  NaN
four    70.0     0.5 -1.5
five    99.0     0.5 -1.7
six       90     0.5    1

In [38]:
df.iloc[1,1] #1행 1열 선택

80.0

# 4 : DataFrame에서의 boolean indexing

In [39]:
df

Info     year points penalty debt
Order
one    1999.0   90.0     0.5  NaN
two    2000.0   80.0     0.5 -1.2
three  2001.0   30.0     0.5  NaN
four   2002.0   70.0     0.5 -1.5
five   2003.0   99.0     0.5 -1.7
six      2013     90     0.5    1

In [40]:
df.loc[df['penalty'] == '0.5',['penalty','points']]

Info  penalty points
Order
six       0.5     90

boolean indexing 추가필요


# 5 : Data

In [41]:
# DataFrame을 만들때 index, column을 설정하지 않으면 
#기본값으로 0부터 시작하는 정수형 숫자로 입력된다.
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0  1.872382 -0.844967  0.415047 -0.124989
1 -0.269690 -0.050147 -0.409972  0.350352
2  0.053068  1.378124  0.780192 -0.402638
3 -0.341337  0.587591 -0.575789  0.387964
4 -0.246618  1.054806  1.626272  0.868446
5 -0.977082  0.461905 -0.649983  0.521967

In [42]:
df.columns = ['A', 'B', 'C', 'D']
df.index = pd.date_range('20160701', periods=6)
#pandas에서 제공하는 date range함수는 datetime 자료형으로 구성된, 
#날짜 시각등을 알 수 있는 자료형을 만드는 함수
df.index

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df

                   A         B         C         D
2016-07-01  1.872382 -0.844967  0.415047 -0.124989
2016-07-02 -0.269690 -0.050147 -0.409972  0.350352
2016-07-03  0.053068  1.378124  0.780192 -0.402638
2016-07-04 -0.341337  0.587591 -0.575789  0.387964
2016-07-05 -0.246618  1.054806  1.626272  0.868446
2016-07-06 -0.977082  0.461905 -0.649983  0.521967

In [44]:
# np.nan은 NaN값을 의미한다.
df['F'] = [1.0, np.nan, 3.5, 6.1, np.nan, 7.0]
df

                   A         B         C         D    F
2016-07-01  1.872382 -0.844967  0.415047 -0.124989  1.0
2016-07-02 -0.269690 -0.050147 -0.409972  0.350352  NaN
2016-07-03  0.053068  1.378124  0.780192 -0.402638  3.5
2016-07-04 -0.341337  0.587591 -0.575789  0.387964  6.1
2016-07-05 -0.246618  1.054806  1.626272  0.868446  NaN
2016-07-06 -0.977082  0.461905 -0.649983  0.521967  7.0