<a href="https://www.kaggle.com/code/wngur0313/pandas-base?scriptVersionId=92001947" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# 1 : Series

In [2]:
ob = pd.Series([4,7,-5,3]) #시리즈 정의하기
ob

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
#Series 값 확인하기
ob.values

array([ 4,  7, -5,  3])

In [4]:
#Series 인덱스 확인하기
ob.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
#Series 자료형 확인하기
ob.dtype

dtype('int64')

In [6]:
# 인덱스를 설정하는 법
ob2 = pd.Series([10,20,30,40], index = ['a','b','c','d'])
ob2

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
#딕셔너리를 Seires data로 만들기
dic = {'chicken': 20000, 'pizza': 25000, 'rice': 1000, 'coke': 2000}
srdic = pd.Series(dic)
srdic

chicken    20000
pizza      25000
rice        1000
coke        2000
dtype: int64

In [8]:
#srdic의 이름 설정, 인덱스 이름 설정
srdic.name = 'Food'
srdic.index.name = 'Kind'
srdic

Kind
chicken    20000
pizza      25000
rice        1000
coke        2000
Name: Food, dtype: int64

In [9]:
#srdic의 인덱스 변경
srdic.index = ['치킨', '피자', '밥', '콜라']
srdic

치킨    20000
피자    25000
밥      1000
콜라     2000
Name: Food, dtype: int64

# 2 : DataFrame

In [10]:
data = {'name': ['Beomwoo', 'Beomwoo', 'Beomwoo', 'Kim', 'Park'],
        'year': [2013, 2014, 2015, 2016, 2015],
        'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df

      name  year  points
0  Beomwoo  2013     1.5
1  Beomwoo  2014     1.7
2  Beomwoo  2015     3.6
3      Kim  2016     2.4
4     Park  2015     2.9

행과 열의 구조를 가진 데이터

In [11]:
#행 방향의 index
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
#열 방향의 index
df.columns

Index(['name', 'year', 'points'], dtype='object')

In [13]:
#값 얻기
df.values

array([['Beomwoo', 2013, 1.5],
       ['Beomwoo', 2014, 1.7],
       ['Beomwoo', 2015, 3.6],
       ['Kim', 2016, 2.4],
       ['Park', 2015, 2.9]], dtype=object)

In [14]:
#각 인덱스에 대한 이름 설정
df.index.name = 'Num'
df.columns.name = 'Info'
df

Info     name  year  points
Num
0     Beomwoo  2013     1.5
1     Beomwoo  2014     1.7
2     Beomwoo  2015     3.6
3         Kim  2016     2.4
4        Park  2015     2.9

In [15]:
#DataFrame을 만들면서 행과 열을 설정하는 법
df2 = pd.DataFrame(data, columns=['year', 'name', 'points', 'penalty'],
                  index=['one', 'two', 'three', 'four', 'five'])
df2

       year     name  points penalty
one    2013  Beomwoo     1.5     NaN
two    2014  Beomwoo     1.7     NaN
three  2015  Beomwoo     3.6     NaN
four   2016      Kim     2.4     NaN
five   2015     Park     2.9     NaN

penalty는 data에 정의되어있지 않기 때문에 NaN값이 뜬다

In [16]:
#계산 가능한 값들에 대한 설명
df2.describe()

              year    points
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000

In [17]:
#indexing
data = {"names": ["a", "b", "c", "d", "e"],
           "year": [1999, 2000, 2001, 2002, 2003],
           "points": [90, 80, 30, 70, 99]}
df = pd.DataFrame(data, columns=["year", "names", "points", "penalty"],
                          index=["one", "two", "three", "four", "five"])
df

       year names  points penalty
one    1999     a      90     NaN
two    2000     b      80     NaN
three  2001     c      30     NaN
four   2002     d      70     NaN
five   2003     e      99     NaN

In [18]:
#year 열을 선택
df['year']

one      1999
two      2000
three    2001
four     2002
five     2003
Name: year, dtype: int64

In [19]:
#df['year']와 같은 역할을 하는 코드
df.year

one      1999
two      2000
three    2001
four     2002
five     2003
Name: year, dtype: int64

In [20]:
df[['year','points']]

       year  points
one    1999      90
two    2000      80
three  2001      30
four   2002      70
five   2003      99

In [21]:
#df['penalty'] = 0.5 밑에랑 똑같은 코드
df.penalty = 0.5
df

       year names  points  penalty
one    1999     a      90      0.5
two    2000     b      80      0.5
three  2001     c      30      0.5
four   2002     d      70      0.5
five   2003     e      99      0.5

In [22]:
#새로운 열을 추가하기
#np.arange(시작점,끝점) 0,5로 하면 0~4까지  밑에처럼 그냥 5로하면 0~4까지
#df['zeros'] = np.arange(5)
df.zeros = np.arange(5) 
df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

       year names  points  penalty
one    1999     a      90      0.5
two    2000     b      80      0.5
three  2001     c      30      0.5
four   2002     d      70      0.5
five   2003     e      99      0.5